// COLORS
$color-primary: #bd1ff6;
$color-secondary: #4181ef;
$color-tertiary: #46ebed;

$color-black: #000;
$dark-blue-grey: #00133E;
$dark-grey: #343A40;
$dark-grey-blue: #3E4C5E;
$color-white: #fff;

$color-grey-light-1: #8496ae;
$color-blue: #1F8FFF;

// FONT
$default-font-size: 2.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;