@keyframes bottom-slidein-light {
  from {
    opacity: 0;
    transform: translateY(6rem) scale(0.7, 1);
  }
  to {
    opacity: 1;
    transform: translateY(0rem) scale(1, 1);
  }
}
@keyframes bottom-slidein-1 {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes bottom-slidein-2 {
  from {
    opacity: 0;
    transform: translateY(18rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes bottom-slidein-fingerprint {
  from {
    opacity: 0;
    transform: matrix(1, -0.07, 0.07, 1, 0, 0) translateY(4rem);
  }
  to {
    opacity: 1;
    transform: matrix(1, -0.07, 0.07, 1, 0, 0) translateY(0rem);
  }
}

@keyframes right-slidein {
  from {
    opacity: 0;
    transform: translateX(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes left-slidein {
  from {
    opacity: 0;
    transform: translateX(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes top-slidein {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes bottom-slidein {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes right-slidein-about {
    from {
      opacity: 0;
      transform: translateX(10rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  @keyframes left-slidein-about {
    from {
      opacity: 0;
      transform: translateX(-10rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
