.button{
    display: inline-block;
    text-align: center;
    color: $color-white;
    &--primary{
        border-radius: 4rem;
        border: 2px solid $color-blue;
        padding: 1.4rem 4rem;
    }
    &--primary:hover{
        background-color: $color-blue;
    }
}