@property --country {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --user {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --v2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@keyframes country_counter {
  from {
    --country: 0;
  }
  to {
    --country: 70;
  }
}

@keyframes CAGR_counter {
  from {
    --v1: 0;
    --v2: 0;
  }
  to {
    --v1: 54;
    --v2: 80;
  }
}
@keyframes user_counter {
  from {
    --user: 0;
  }
  to {
    --user: 6300;
  }
}

.data {
  text-align: center;
  padding-bottom: 20.3rem;
  &__container.active &__count {
    &--country {
      animation: country_counter 5s forwards alternate ease-in-out;
    }
    &--country::after {
      content: counter(num);
    }
    &--user {
      animation: user_counter 5s forwards alternate ease-in-out;
    }
    &--user::after {
      content: counter(num);
    }
    &--CAGR {
      animation: CAGR_counter 5s forwards alternate ease-in-out;
    }
    &--CAGR::before {
      content: counter(v1) "." counter(v2, decimal-leading-zero);
    }
  }
  &__count {
    &--country {
      // animation: country_counter 5s forwards alternate ease-in-out;
      counter-reset: num var(--country);
    }
    &--user {
      // animation: user_counter 5s forwards alternate ease-in-out;
      counter-reset: num var(--user);
    }
    &--CAGR {
      // animation: CAGR_counter 5s forwards alternate ease-in-out;
      transition: --percent 1s;
      --temp: calc(var(--percent) * 100);
      --v1: max(var(--temp) - 0.5, 0);
      --v2: max((var(--temp) - var(--v1)) * 100 - 0.5, 0);
      counter-reset: v1 var(--v1) v2 var(--v2);
    }
  }
  &__container {
    display: flex;
    max-width: 95rem;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }
  &__content:last-child {
    min-width: 21.4rem;
  }
  //   &__title {
  //   }
  &__image-box {
    margin-top: 4rem;
    margin-bottom: 3.3rem;
    width: 10rem;
    height: 6.5rem;
  }
  &__content:nth-child(1) > &__image-box {
    background: transparent url(../../images/Icon_EID@2x.png) 0% 0% no-repeat
      padding-box;
    background-position: center;
    background-size: cover;
  }
  &__content:nth-child(2) > &__image-box {
    background: transparent url(../../images/Icon_raising@2x.png) 0% 0%
      no-repeat padding-box;
    background-position: center;
    background-size: cover;
  }
  &__content:nth-child(3) > &__image-box {
    background: transparent url(../../images/Icon_user@2x.png) 0% 0% no-repeat
      padding-box;
    background-position: center;
    background-size: cover;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
  &__content:first-child &__text > *:first-child,
  &__text > *:last-child {
    margin-bottom: 2rem;
  }
}

@include respond(phone) {
  .data {
    &__container {
      flex-direction: column;
    }
  }
}
