.data {
  text-align: center;
  padding-bottom: 20.3rem;
  &__container {
    display: flex;
    max-width: 95rem;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }
  //   &__title {
  //   }
  &__image-box {
    margin-top: 4rem;
    margin-bottom: 3.3rem;
    width: 10rem;
    height: 6.5rem;
  }
  &__content:nth-child(1) > &__image-box {
    background: transparent url(../../images/Icon_EID@2x.png) 0% 0% no-repeat
      padding-box;
    background-position: center;
    background-size: cover;
  }
  &__content:nth-child(2) > &__image-box {
    background: transparent url(../../images/Icon_raising@2x.png) 0% 0%
      no-repeat padding-box;
    background-position: center;
    background-size: cover;
  }
  &__content:nth-child(3) > &__image-box {
    background: transparent url(../../images/Icon_user@2x.png) 0% 0% no-repeat
      padding-box;
    background-position: center;
    background-size: cover;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
  &__content:first-child &__text > *:first-child,
  &__text > *:last-child {
    margin-bottom: 2rem;
  }
}
