.form {
  max-width: 48.5rem;
  margin: 0 auto;
  &__input-group {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2rem;
  }
  &__input {
    padding: 1.3rem 2rem;
    border: 1px solid $color-tertiary;
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 16px;
  }
  &__checkboxs {
    display: flex;
    flex: auto;
    align-items: center;
    // gap: 4rem;
    margin-bottom: 2rem;
  }
  &__checkboxs-group {
    display: flex;
    // flex: auto;
    align-items: center;
    // justify-content: space-between;
  }
  &__checkboxs-group:not(:last-child),
  &__checkbox-group:not(:last-child){
    margin-right: 2rem;
  }
  &__checkbox-controller {
    display: none;
    justify-content: space-between;
  }
  &__checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-tertiary;
    background-color: rgba($color-white, 0.3);
  }
  &__checkbox-controller:checked + &__label > &__checkbox > div {
    width: 1.5rem;
    height: 0.8rem;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-image-slice: 1;
    transform: rotate(-45deg) translate(0px, 3px);
    border-color: $color-tertiary;
  }
  &__label {
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  &__textarea {
    padding: 1.3rem 2rem;
    border: 1px solid $color-tertiary;
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 16px;
  }
  &__button {
    min-width: 18rem;
    margin-top: 2rem;
  }
}

@include respond(iphone) {
  .form {
    width: 100%;
    max-width: none;
    &__input-group {
      // gap: 1.8rem;
      flex-direction: column;
      margin-bottom: 2.5rem;
    }
    &__checkboxs {
      flex-direction: column;
      gap: 2.5rem;
      align-items: flex-start;
    }
    &__checkboxs-group {
      gap: 6rem;
    }
    &__label {
      gap: 5px;
    }
  }
}

@include respond(iphone12) {
  // .form {
  //   &__input-group {
  //     gap: 1rem;
  //   }
  // }
}
