.form {
  max-width: 48.5rem;
  &__input-group {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2rem;
  }
  &__input {
    padding: 1.3rem 2rem;
    border: 1px solid $color-tertiary;
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 1.6rem;
  }
  &__checkboxs {
    justify-content: space-between;
  }
  &__checkbox-controller {
    display: none;
  }
  &__checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-tertiary;
    background-color: rgba($color-white, 0.3);
  }
  &__checkbox-controller:checked + &__label > &__checkbox > div {
    width: 1.5rem;
    height: 0.8rem;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-image-slice: 1;
    transform: rotate(-45deg) translate(0px, 3px);
    border-color: $color-tertiary;
  }
  &__label {
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__textarea {
    padding: 1.3rem 2rem;
    border: 1px solid $color-tertiary;
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 1.6rem;
  }
  &__button {
    min-width: 18rem;
  }
}

@include respond(iphone) {
  .form {
    margin: 0 3rem;
    &__input-group {
      gap: 1.8rem;
    }
    &__label {
      gap: 5px;
    }
  }
}

@include respond(iphone12) {
  .form {
    &__input-group {
      gap: 1rem;
    }
  }
}
