.slider {
  position: relative;
  &__container {
    max-width: 90rem;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    transition: all 0.5s ease-in;
  }
  &__controllers {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
  }
  &__btn {
    height: 11rem;
    width: 14.2rem;
  }
  &__btn:disabled,
  &__btn:disabled > div {
    opacity: 0;
    pointer-events: none;
  }
  &__btn-icon {
    height: 2.4rem;
    width: 2.4rem;
    border-right: 4px solid $color-white;
    border-bottom: 4px solid $color-white;
    // background: #3e4c5e 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000029;
    border-end-start-radius: 5px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
  }
  &__btn--left > div {
    transform: rotate(135deg) translate(-8.5rem, -8.5rem);
  }
  &__btn--right > div {
    transform: rotate(-45deg);
  }
}

@include respond(phone) {
  .slider {
    &__controllers {
      display: flex;
    }
    &__content {
      gap: 10rem;
      // transform: translateX(35rem);
    }
    &__container {
      max-width: 30rem;
      overflow: hidden;
    }
  }
}

@include respond(lg-phone) {
  .slider {
    &__btn {
      width: 7rem;
    }
    &__btn--left > div {
      transform: rotate(135deg) translate(-3.4rem, -3.4rem);
    }
  }
}

@include respond(iphone) {
  .slider {
    &__btn {
      width: 6rem;
    }
    &__btn--left > div {
      transform: rotate(135deg) translate(-2.8rem, -2.8rem);
    }
  }
}
