.menu {
  position: fixed;
  padding: 2rem 2.5rem;
  height: 100vh;
  width: 40rem;
  top: 0;
  right: 0;

  padding-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba($color: #3e4c5e, $alpha: 0.1);
  box-shadow: inset 0px 10px 6px #00000029;
  transform: translateX(40rem);

  &.active {
    transform: translateX(0rem);
  }

  &__item {
    padding: 2.5rem 0;
    font-size: 20px;
    border-bottom: 1px solid #707070;
  }
  &__link {
  }
  &__text {
    text-align: right;
  }
}

@include respond(phone) {
  .menu {
    width: 100vw;
  }
}
