.menu {
  position: fixed;
  padding: 2rem 2.5rem;
  //   height: calc(100vh - 10rem);
  height: 100vh;
  width: 40rem;
  //   top: 10rem;
  top: 0rem;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: $color-white;
  padding-top: 10rem;
  background: rgba($dark-grey-blue, 0.4) 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 10px 6px rgba($color-black, 0.161);
  transform: translateX(40rem);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  justify-content: space-between;

  &.active {
    transform: translateX(0rem);
  }
 
  &__link {
    border-bottom: 1px solid $color-white;
    padding: 3rem 0;
    display: block;
  }
}

@include respond(phone) {
  .menu {
    width: 100vw;
    transform: translateX(100vw);
  }
}
